/* 
    Document   : index
    Created on : 2012-12-11, 9:43:31
    Author     : ShaoboLiu
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
h2{
    font-size: 25px;
    text-align: center;
}
body {
    /*position:relative;*/
    /*background:#347db0;*/
    background-color: #000000;
    background-image: url(../src/bg_dark.png);
    color: #FFFFFF;
    font-size: 13px;
    font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
}
#intputdata .button{
    width: 74px;
    float: left;
}
.menutabs{
    width: 98%;
    height: 92%;
}
.ottabs{
    width: 354px;
    /*387px;*/
    /*auto;*/
    border:1px solid #AAAAAA;
    float: left; 
    height: 435px;
    /*    30%;*/
}
.ottabs-bottom .ui-tabs-nav { clear: left; padding: 0 .2em .2em .2em; }
.ottabs-bottom .ui-tabs-nav li { top: auto; bottom: 0; margin: 0 .2em 1px 0; border-bottom: auto; border-top: 0; }
.ottabs-bottom .ui-tabs-nav li.ui-tabs-active { margin-top: -1px; padding-top: 1px; }

#intputdata table {
    font-size: 13px;
    background:#347db0;
    text-align: center;
}
#intputdata #t1234{
    width: 187px;
}
.inputfull{
    width: 98%;
}
#user_resajax{
    width: 150px;
}
.inputhelf{
    width: 49%;
}
#submitdiv{
    position: absolute;
    left: 400px;
    width:885px;
    top: 48px;
    border:1px solid #666666;
    height: 495px ;
    margin-left: 30px;
    font-size: 12px;
}
#dialog-form{
    font-size: 13px;
}

#addresajax{
    position: relative; 
    height:23px;
    width:20px;
    /*left: 85px; top: -17px;*/
}
input.text { margin-bottom:7px; width:95%; padding: .4em; }
.dialog fieldset { padding:0; border:0; margin-top:25px; }
.dialog .ui-state-error { padding: .3em; }
.dialog .validateTips { border: 1px solid transparent; padding: 0.3em; }

/*combobox*/
.ui-combobox {
    position: relative;
    display: inline-block;
}
.ui-widget{
    /*width: 100%;不能解决*/
    font-size: 13px;
}
.ui-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -34px;
    /*margin-left: -1px;*/
    padding: 0;
    /* adjust styles for IE 6/7 */
    /*height: 1.7em;*/
    /*top: 0.1em;*/
}
.ui-combobox-input {
    margin: 0;
    padding: 0.2em;
}


div{
    /*border: solid red ;*/
    border-bottom-width: thick;
    /*border:1px solid #AAAAAA;*/
    -moz-border-radius-topleft: 4px/*{cornerRadius}*/; -webkit-border-top-left-radius: 4px/*{cornerRadius}*/; -khtml-border-top-left-radius: 4px/*{cornerRadius}*/; border-top-left-radius: 4px/*{cornerRadius}*/; 
}

#sub_loadtable_data tr td{
    /*display: none;*/
    height: 38px;
}
#sub_loadtable_data tr th{
    height: 38px;
}
.submenue{
    position:absolute;
    bottom: 4px;
    left: 0px;
    margin-left: 20px;
    /*height: 30px;*/
}
#user_start,#user_end{
    width: 48%;
}
